#ui-middle{
  position:relative
}

.effect-panel{
  pointer-events:auto;
  position:absolute;
  right:0;
  top:5px
}

.effect-panel .effect-item{
  display:flex;
  height:46px;
  justify-content:flex-end
}

.effect-panel .effect-item:hover .effect-info{
  display:block
}

.effect-panel .effect-item.spell .effect-info{
  padding:.25em
}

.effect-panel .effect-item .effect-info{
  background-color:rgba(0,0,0,.75);
  display:none;
  height:min-content;
  margin-right:.5em;
  padding:.25em
}

.effect-panel .effect-item .effect-info h1{
  border:none;
  color:#fff;
  font-size:12px;
  margin:0;
  padding:0;
  text-align:right
}

.effect-panel .effect-item .effect-info .tags{
  justify-content:flex-end
}

.effect-panel .effect-item .effect-info .tags .tag{
  margin-bottom:0
}

.effect-panel .effect-item .effect-info .tags .tag+.tag,.effect-panel .effect-item .effect-info .tags .tag:first-child{
  margin-left:3px;
  margin-right:-2px
}

.effect-panel .effect-item .effect-info .instructions{
  color:#fff;
  font-size:.75em;
  text-align:right
}

.effect-panel .effect-item .icon{
  align-items:center;
  background-repeat:no-repeat;
  background-size:contain;
  border:1px solid rgba(0,0,0,.5);
  box-shadow:0 0 0 1px silver,0 0 0 2px gray;
  box-shadow:0 0 0 1px silver,0 0 0 2px gray,inset 0 0 4px rgba(0,0,0,.5);
  color:transparent;
  display:flex;
  height:42px;
  justify-content:center;
  margin:2px 0;
  position:relative;
  width:42px
}

.effect-panel .effect-item .icon .linked{
  right:-1px
}

.effect-panel .effect-item .icon .linked,.effect-panel .effect-item .icon .value{
  background-color:rgba(0,0,0,.75);
  bottom:-1px;
  color:#fff;
  display:inline-block;
  padding:0 2px;
  position:absolute
}

.effect-panel .effect-item .icon .value{
  left:-1px
}
.effect-panel hr{
  margin-right:0;
  width:36px
}